/.env
/vendor
/node_modules

laravel/.env
laravel/.env.*
!laravel/.env.example
laravel/vendor
laravel/node_modules
laravel/public/build
laravel/public/hot
laravel/storage/*.key
laravel/storage/logs/*.log

frontend/.env
frontend/.env.*

.DS_Store
Thumbs.db
